<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Фильмы кинотеки</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Все фильмы кинотеки</h1>
    <div class="row">
        <div class="col">
            <a href="films/add"
               class="btn btn-secondary"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить фильм</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="films/add-director"
               class="btn btn-secondary"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить режиссера к фильму</a>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Дата премьеры</th>
            <th scope="col">Страна</th>
            <th scope="col">Жанр</th>
            <th scope="col">Режиссеры</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="film : ${films}">
            <td>
                <a class="text-link text-blue" th:href="'/films/' + ${film.getId()}" th:text="${film.getTitle()}"></a>
            </td>
            <td th:text="${film.getPremierYear()}"></td>
            <td th:text="${film.getCountry().getCountryTextDisplay()}"></td>
            <td th:text="${film.getGenre().getGenreTextDisplay()}"></td>
            <td>
                <ul>
                    <li th:each="director : ${film.getDirectors()}" th:text="${director.getDirectorsFio()}"></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>